branches/release_1.23/dotnet/Old/Libraries/DD4T.Extensions.DynamicDelivery.Factories.WebService/Service References/Tridion.Broker/TridionBrokerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TridionBrokerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_ITridionBrokerService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://webservice:19/TridionBrokerService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://webservice:19/TridionBrokerService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://webservice:19/TridionBrokerService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITridionBrokerService_FindPageByUrl_InputMessage">
    <wsdl:part name="parameters" element="tns:FindPageByUrl" />
  </wsdl:message>
  <wsdl:message name="ITridionBrokerService_FindPageByUrl_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindPageByUrlResponse" />
  </wsdl:message>
  <wsdl:message name="ITridionBrokerService_FindPageMetaByUrl_InputMessage">
    <wsdl:part name="parameters" element="tns:FindPageMetaByUrl" />
  </wsdl:message>
  <wsdl:message name="ITridionBrokerService_FindPageMetaByUrl_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindPageMetaByUrlResponse" />
  </wsdl:message>
  <wsdl:message name="ITridionBrokerService_GetPage_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPage" />
  </wsdl:message>
  <wsdl:message name="ITridionBrokerService_GetPage_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPageResponse" />
  </wsdl:message>
  <wsdl:message name="ITridionBrokerService_GetAllPublishedPageUrls_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPublishedPageUrls" />
  </wsdl:message>
  <wsdl:message name="ITridionBrokerService_GetAllPublishedPageUrls_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPublishedPageUrlsResponse" />
  </wsdl:message>
  <wsdl:message name="ITridionBrokerService_FindBinaryByUrl_InputMessage">
    <wsdl:part name="parameters" element="tns:FindBinaryByUrl" />
  </wsdl:message>
  <wsdl:message name="ITridionBrokerService_FindBinaryByUrl_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindBinaryByUrlResponse" />
  </wsdl:message>
  <wsdl:message name="ITridionBrokerService_GetBinary_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBinary" />
  </wsdl:message>
  <wsdl:message name="ITridionBrokerService_GetBinary_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBinaryResponse" />
  </wsdl:message>
  <wsdl:message name="ITridionBrokerService_GetBinaryMeta_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBinaryMeta" />
  </wsdl:message>
  <wsdl:message name="ITridionBrokerService_GetBinaryMeta_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBinaryMetaResponse" />
  </wsdl:message>
  <wsdl:message name="ITridionBrokerService_FindBinaryMetaByUrl_InputMessage">
    <wsdl:part name="parameters" element="tns:FindBinaryMetaByUrl" />
  </wsdl:message>
  <wsdl:message name="ITridionBrokerService_FindBinaryMetaByUrl_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindBinaryMetaByUrlResponse" />
  </wsdl:message>
  <wsdl:message name="ITridionBrokerService_ResolveLink_InputMessage">
    <wsdl:part name="parameters" element="tns:ResolveLink" />
  </wsdl:message>
  <wsdl:message name="ITridionBrokerService_ResolveLink_OutputMessage">
    <wsdl:part name="parameters" element="tns:ResolveLinkResponse" />
  </wsdl:message>
  <wsdl:message name="ITridionBrokerService_ResolveLinkExtended_InputMessage">
    <wsdl:part name="parameters" element="tns:ResolveLinkExtended" />
  </wsdl:message>
  <wsdl:message name="ITridionBrokerService_ResolveLinkExtended_OutputMessage">
    <wsdl:part name="parameters" element="tns:ResolveLinkExtendedResponse" />
  </wsdl:message>
  <wsdl:message name="ITridionBrokerService_GetComponentWithTemplate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetComponentWithTemplate" />
  </wsdl:message>
  <wsdl:message name="ITridionBrokerService_GetComponentWithTemplate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetComponentWithTemplateResponse" />
  </wsdl:message>
  <wsdl:message name="ITridionBrokerService_GetComponent_InputMessage">
    <wsdl:part name="parameters" element="tns:GetComponent" />
  </wsdl:message>
  <wsdl:message name="ITridionBrokerService_GetComponent_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetComponentResponse" />
  </wsdl:message>
  <wsdl:message name="ITridionBrokerService_GetLastPublishedComponent_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLastPublishedComponent" />
  </wsdl:message>
  <wsdl:message name="ITridionBrokerService_GetLastPublishedComponent_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLastPublishedComponentResponse" />
  </wsdl:message>
  <wsdl:message name="ITridionBrokerService_LastPublished_InputMessage">
    <wsdl:part name="parameters" element="tns:LastPublished" />
  </wsdl:message>
  <wsdl:message name="ITridionBrokerService_LastPublished_OutputMessage">
    <wsdl:part name="parameters" element="tns:LastPublishedResponse" />
  </wsdl:message>
  <wsdl:message name="ITridionBrokerService_FindComponentsBySchema_InputMessage">
    <wsdl:part name="parameters" element="tns:FindComponentsBySchema" />
  </wsdl:message>
  <wsdl:message name="ITridionBrokerService_FindComponentsBySchema_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindComponentsBySchemaResponse" />
  </wsdl:message>
  <wsdl:message name="ITridionBrokerService_FindComponentsBySchemas_InputMessage">
    <wsdl:part name="parameters" element="tns:FindComponentsBySchemas" />
  </wsdl:message>
  <wsdl:message name="ITridionBrokerService_FindComponentsBySchemas_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindComponentsBySchemasResponse" />
  </wsdl:message>
  <wsdl:message name="ITridionBrokerService_FindComponentMetasBySchemas_InputMessage">
    <wsdl:part name="parameters" element="tns:FindComponentMetasBySchemas" />
  </wsdl:message>
  <wsdl:message name="ITridionBrokerService_FindComponentMetasBySchemas_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindComponentMetasBySchemasResponse" />
  </wsdl:message>
  <wsdl:message name="ITridionBrokerService_FindLatestComponentMetasBySchemas_InputMessage">
    <wsdl:part name="parameters" element="tns:FindLatestComponentMetasBySchemas" />
  </wsdl:message>
  <wsdl:message name="ITridionBrokerService_FindLatestComponentMetasBySchemas_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindLatestComponentMetasBySchemasResponse" />
  </wsdl:message>
  <wsdl:message name="ITridionBrokerService_FindComponents_InputMessage">
    <wsdl:part name="parameters" element="tns:FindComponents" />
  </wsdl:message>
  <wsdl:message name="ITridionBrokerService_FindComponents_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindComponentsResponse" />
  </wsdl:message>
  <wsdl:message name="ITridionBrokerService_FindComponentsSinceLastCreated_InputMessage">
    <wsdl:part name="parameters" element="tns:FindComponentsSinceLastCreated" />
  </wsdl:message>
  <wsdl:message name="ITridionBrokerService_FindComponentsSinceLastCreated_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindComponentsSinceLastCreatedResponse" />
  </wsdl:message>
  <wsdl:message name="ITridionBrokerService_FindComponentsSinceLastPublished_InputMessage">
    <wsdl:part name="parameters" element="tns:FindComponentsSinceLastPublished" />
  </wsdl:message>
  <wsdl:message name="ITridionBrokerService_FindComponentsSinceLastPublished_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindComponentsSinceLastPublishedResponse" />
  </wsdl:message>
  <wsdl:message name="ITridionBrokerService_GetComponentMeta_InputMessage">
    <wsdl:part name="parameters" element="tns:GetComponentMeta" />
  </wsdl:message>
  <wsdl:message name="ITridionBrokerService_GetComponentMeta_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetComponentMetaResponse" />
  </wsdl:message>
  <wsdl:message name="ITridionBrokerService_GetKeywordHierarchy_InputMessage">
    <wsdl:part name="parameters" element="tns:GetKeywordHierarchy" />
  </wsdl:message>
  <wsdl:message name="ITridionBrokerService_GetKeywordHierarchy_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetKeywordHierarchyResponse" />
  </wsdl:message>
  <wsdl:portType name="ITridionBrokerService">
    <wsdl:operation name="FindPageByUrl">
      <wsdl:input wsaw:Action="http://tempuri.org/ITridionBrokerService/FindPageByUrl" message="tns:ITridionBrokerService_FindPageByUrl_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITridionBrokerService/FindPageByUrlResponse" message="tns:ITridionBrokerService_FindPageByUrl_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindPageMetaByUrl">
      <wsdl:input wsaw:Action="http://tempuri.org/ITridionBrokerService/FindPageMetaByUrl" message="tns:ITridionBrokerService_FindPageMetaByUrl_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITridionBrokerService/FindPageMetaByUrlResponse" message="tns:ITridionBrokerService_FindPageMetaByUrl_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPage">
      <wsdl:input wsaw:Action="http://tempuri.org/ITridionBrokerService/GetPage" message="tns:ITridionBrokerService_GetPage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITridionBrokerService/GetPageResponse" message="tns:ITridionBrokerService_GetPage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllPublishedPageUrls">
      <wsdl:input wsaw:Action="http://tempuri.org/ITridionBrokerService/GetAllPublishedPageUrls" message="tns:ITridionBrokerService_GetAllPublishedPageUrls_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITridionBrokerService/GetAllPublishedPageUrlsResponse" message="tns:ITridionBrokerService_GetAllPublishedPageUrls_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindBinaryByUrl">
      <wsdl:input wsaw:Action="http://tempuri.org/ITridionBrokerService/FindBinaryByUrl" message="tns:ITridionBrokerService_FindBinaryByUrl_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITridionBrokerService/FindBinaryByUrlResponse" message="tns:ITridionBrokerService_FindBinaryByUrl_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBinary">
      <wsdl:input wsaw:Action="http://tempuri.org/ITridionBrokerService/GetBinary" message="tns:ITridionBrokerService_GetBinary_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITridionBrokerService/GetBinaryResponse" message="tns:ITridionBrokerService_GetBinary_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBinaryMeta">
      <wsdl:input wsaw:Action="http://tempuri.org/ITridionBrokerService/GetBinaryMeta" message="tns:ITridionBrokerService_GetBinaryMeta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITridionBrokerService/GetBinaryMetaResponse" message="tns:ITridionBrokerService_GetBinaryMeta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindBinaryMetaByUrl">
      <wsdl:input wsaw:Action="http://tempuri.org/ITridionBrokerService/FindBinaryMetaByUrl" message="tns:ITridionBrokerService_FindBinaryMetaByUrl_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITridionBrokerService/FindBinaryMetaByUrlResponse" message="tns:ITridionBrokerService_FindBinaryMetaByUrl_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ResolveLink">
      <wsdl:input wsaw:Action="http://tempuri.org/ITridionBrokerService/ResolveLink" message="tns:ITridionBrokerService_ResolveLink_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITridionBrokerService/ResolveLinkResponse" message="tns:ITridionBrokerService_ResolveLink_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ResolveLinkExtended">
      <wsdl:input wsaw:Action="http://tempuri.org/ITridionBrokerService/ResolveLinkExtended" message="tns:ITridionBrokerService_ResolveLinkExtended_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITridionBrokerService/ResolveLinkExtendedResponse" message="tns:ITridionBrokerService_ResolveLinkExtended_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetComponentWithTemplate">
      <wsdl:input wsaw:Action="http://tempuri.org/ITridionBrokerService/GetComponentWithTemplate" message="tns:ITridionBrokerService_GetComponentWithTemplate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITridionBrokerService/GetComponentWithTemplateResponse" message="tns:ITridionBrokerService_GetComponentWithTemplate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetComponent">
      <wsdl:input wsaw:Action="http://tempuri.org/ITridionBrokerService/GetComponent" message="tns:ITridionBrokerService_GetComponent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITridionBrokerService/GetComponentResponse" message="tns:ITridionBrokerService_GetComponent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLastPublishedComponent">
      <wsdl:input wsaw:Action="http://tempuri.org/ITridionBrokerService/GetLastPublishedComponent" message="tns:ITridionBrokerService_GetLastPublishedComponent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITridionBrokerService/GetLastPublishedComponentResponse" message="tns:ITridionBrokerService_GetLastPublishedComponent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LastPublished">
      <wsdl:input wsaw:Action="http://tempuri.org/ITridionBrokerService/LastPublished" message="tns:ITridionBrokerService_LastPublished_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITridionBrokerService/LastPublishedResponse" message="tns:ITridionBrokerService_LastPublished_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindComponentsBySchema">
      <wsdl:input wsaw:Action="http://tempuri.org/ITridionBrokerService/FindComponentsBySchema" message="tns:ITridionBrokerService_FindComponentsBySchema_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITridionBrokerService/FindComponentsBySchemaResponse" message="tns:ITridionBrokerService_FindComponentsBySchema_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindComponentsBySchemas">
      <wsdl:input wsaw:Action="http://tempuri.org/ITridionBrokerService/FindComponentsBySchemas" message="tns:ITridionBrokerService_FindComponentsBySchemas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITridionBrokerService/FindComponentsBySchemasResponse" message="tns:ITridionBrokerService_FindComponentsBySchemas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindComponentMetasBySchemas">
      <wsdl:input wsaw:Action="http://tempuri.org/ITridionBrokerService/FindComponentMetasBySchemas" message="tns:ITridionBrokerService_FindComponentMetasBySchemas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITridionBrokerService/FindComponentMetasBySchemasResponse" message="tns:ITridionBrokerService_FindComponentMetasBySchemas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindLatestComponentMetasBySchemas">
      <wsdl:input wsaw:Action="http://tempuri.org/ITridionBrokerService/FindLatestComponentMetasBySchemas" message="tns:ITridionBrokerService_FindLatestComponentMetasBySchemas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITridionBrokerService/FindLatestComponentMetasBySchemasResponse" message="tns:ITridionBrokerService_FindLatestComponentMetasBySchemas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindComponents">
      <wsdl:input wsaw:Action="http://tempuri.org/ITridionBrokerService/FindComponents" message="tns:ITridionBrokerService_FindComponents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITridionBrokerService/FindComponentsResponse" message="tns:ITridionBrokerService_FindComponents_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindComponentsSinceLastCreated">
      <wsdl:input wsaw:Action="http://tempuri.org/ITridionBrokerService/FindComponentsSinceLastCreated" message="tns:ITridionBrokerService_FindComponentsSinceLastCreated_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITridionBrokerService/FindComponentsSinceLastCreatedResponse" message="tns:ITridionBrokerService_FindComponentsSinceLastCreated_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindComponentsSinceLastPublished">
      <wsdl:input wsaw:Action="http://tempuri.org/ITridionBrokerService/FindComponentsSinceLastPublished" message="tns:ITridionBrokerService_FindComponentsSinceLastPublished_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITridionBrokerService/FindComponentsSinceLastPublishedResponse" message="tns:ITridionBrokerService_FindComponentsSinceLastPublished_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetComponentMeta">
      <wsdl:input wsaw:Action="http://tempuri.org/ITridionBrokerService/GetComponentMeta" message="tns:ITridionBrokerService_GetComponentMeta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITridionBrokerService/GetComponentMetaResponse" message="tns:ITridionBrokerService_GetComponentMeta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetKeywordHierarchy">
      <wsdl:input wsaw:Action="http://tempuri.org/ITridionBrokerService/GetKeywordHierarchy" message="tns:ITridionBrokerService_GetKeywordHierarchy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITridionBrokerService/GetKeywordHierarchyResponse" message="tns:ITridionBrokerService_GetKeywordHierarchy_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_ITridionBrokerService" type="tns:ITridionBrokerService">
    <wsp:PolicyReference URI="#WSHttpBinding_ITridionBrokerService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FindPageByUrl">
      <soap12:operation soapAction="http://tempuri.org/ITridionBrokerService/FindPageByUrl" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindPageMetaByUrl">
      <soap12:operation soapAction="http://tempuri.org/ITridionBrokerService/FindPageMetaByUrl" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPage">
      <soap12:operation soapAction="http://tempuri.org/ITridionBrokerService/GetPage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPublishedPageUrls">
      <soap12:operation soapAction="http://tempuri.org/ITridionBrokerService/GetAllPublishedPageUrls" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindBinaryByUrl">
      <soap12:operation soapAction="http://tempuri.org/ITridionBrokerService/FindBinaryByUrl" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBinary">
      <soap12:operation soapAction="http://tempuri.org/ITridionBrokerService/GetBinary" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBinaryMeta">
      <soap12:operation soapAction="http://tempuri.org/ITridionBrokerService/GetBinaryMeta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindBinaryMetaByUrl">
      <soap12:operation soapAction="http://tempuri.org/ITridionBrokerService/FindBinaryMetaByUrl" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResolveLink">
      <soap12:operation soapAction="http://tempuri.org/ITridionBrokerService/ResolveLink" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResolveLinkExtended">
      <soap12:operation soapAction="http://tempuri.org/ITridionBrokerService/ResolveLinkExtended" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetComponentWithTemplate">
      <soap12:operation soapAction="http://tempuri.org/ITridionBrokerService/GetComponentWithTemplate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetComponent">
      <soap12:operation soapAction="http://tempuri.org/ITridionBrokerService/GetComponent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLastPublishedComponent">
      <soap12:operation soapAction="http://tempuri.org/ITridionBrokerService/GetLastPublishedComponent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LastPublished">
      <soap12:operation soapAction="http://tempuri.org/ITridionBrokerService/LastPublished" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindComponentsBySchema">
      <soap12:operation soapAction="http://tempuri.org/ITridionBrokerService/FindComponentsBySchema" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindComponentsBySchemas">
      <soap12:operation soapAction="http://tempuri.org/ITridionBrokerService/FindComponentsBySchemas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindComponentMetasBySchemas">
      <soap12:operation soapAction="http://tempuri.org/ITridionBrokerService/FindComponentMetasBySchemas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindLatestComponentMetasBySchemas">
      <soap12:operation soapAction="http://tempuri.org/ITridionBrokerService/FindLatestComponentMetasBySchemas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindComponents">
      <soap12:operation soapAction="http://tempuri.org/ITridionBrokerService/FindComponents" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindComponentsSinceLastCreated">
      <soap12:operation soapAction="http://tempuri.org/ITridionBrokerService/FindComponentsSinceLastCreated" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindComponentsSinceLastPublished">
      <soap12:operation soapAction="http://tempuri.org/ITridionBrokerService/FindComponentsSinceLastPublished" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetComponentMeta">
      <soap12:operation soapAction="http://tempuri.org/ITridionBrokerService/GetComponentMeta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetKeywordHierarchy">
      <soap12:operation soapAction="http://tempuri.org/ITridionBrokerService/GetKeywordHierarchy" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TridionBrokerService">
    <wsdl:port name="WSHttpBinding_ITridionBrokerService" binding="tns:WSHttpBinding_ITridionBrokerService">
      <soap12:address location="http://webservice:19/TridionBrokerService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://webservice:19/TridionBrokerService.svc</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>